<div class="form-wrapper">

  <form>

    <h3 class="mb-4">Book Info</h3>

    <div class="form-group">
      <label for="author">Author</label>
      <input class="form-control" id="author" [(ngModel)]="book.author" name="Author">
    </div>

    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" id="title" [(ngModel)]="book.title" name="Title">
    </div>

    <div class="form-group">
      <label for="isbn">ISBN</label>
      <input class="form-control" id="isbn" [(ngModel)]="book.isbn" name="ISBN">
    </div>

    <div class="form-group">
      <label for="pages">Number of Pages</label>
      <input class="form-control" id="pages" [(ngModel)]="book.pages" name="Pages">
    </div>

    <div class="form-group">
      <label for="format">Format</label>
      <select class="form-control" id="format" [(ngModel)]="book.formatId" name="Format">
        <option *ngFor="let format of formats" value="{{format.id}}">{{format.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="3"  [(ngModel)]="book.description" name="Description"></textarea>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input class="form-control" id="price"  [(ngModel)]="book.price" name="Price">
    </div>

    <hr class="m-1 mb-5 mt-5">

    <h3 class="mb-4">Publisher Info</h3>

    <div class="form-group">
      <label for="country">Country</label>
      <select class="form-control" id="country" [(ngModel)]="book.countryId" name="Country">
        <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <select class="form-control" id="city" [(ngModel)]="book.cityId" name="City">
        <option *ngFor="let city of cities" value="{{city.id}}">{{city.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="company">Company</label>
      <select class="form-control" id="company" [(ngModel)]="book.companyId" name="Company">
        <option *ngFor="let company of companies" value="{{company.id}}">{{company.name}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary mt-4">Submit</button>

  </form>

</div>
